@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&display=swap');
body{
    background: url(https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; 
    font-family: "Lobster", sans-serif;
    font-weight: 800;
    background-color: rgb(197, 197, 184);
    position: sticky;top: 0;
}
header>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header>i{
    font-size: 40px;
    margin-top: 15px;
}
#srch{
    height: 20px;
    margin-top: 25px;
    border-radius: 40px ;
    width: 200px;
}
#lema{
    margin-top: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
    color: rgb(146, 146, 146);
    font-size: 40px;
}
footer{
    background-color: rgb(197, 197, 184);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#rs{
    font-size: 40px;
}
#usr{
    margin-top: 18px;
    font-size: 40px;
    cursor: pointer;
}